@charset "UTF-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
	padding: 20px 0 20px 0;
	font-size: small;
}
.content{
	width: 70em;
	margin-right: auto;
	margin-left: auto;	
}
.menu {
	width: 10em;
	display: inline-block;
}
.checkbox {
	margin-left: 10em;
}
h1 {
	font-size: large;
	font-weight: bold;
	padding-bottom: 10px;
}

/* =================== */
/* PASSWORD BOX STYLES */
/* =================== */
.password {
	font-size: large;
	border: medium double #000;
	padding: 10px;
	background-color: #CCC;
	text-align: center;
	margin: 20px 0 20px 0;
}
